x11-window-title=Miriway
idle-timeout=600
ctrl-alt=t:miriway-terminal # Default "terminal emulator finder"

# Using Sway components
#######################
# Install: sudo apt install swaybg waybar
shell-component=swaybg -i /usr/share/backgrounds/warty-final-ubuntu.png # Wallpaper/background
shell-component=waybar                                                  # Panel(s)
shell-meta=a:wofi --show drun --location top_left                       # Launcher

# Using MATE components
#######################
# Install: sudo apt install mate-background mate-panel mate-terminal mate-backgrounds
#shell-component=mate-background # Wallpaper/background
#shell-component=mate-panel      # Panel(s)
#meta=a:mate-panel --run-dialog  # Launcher
#ctrl-alt=t:mate-terminal        # Terminal emulator

# Using XFCE components
#######################
# Install: sudo apt install xfce4-terminal xfce4-appfinder
#meta=a:xfce4-appfinder --disable-server # Launcher
#ctrl-alt=t:xfce4-terminal               # Terminal emulator

# Using LXQt components
# Install: sudo apt install lxqt-policykit qterminal
#shell-component=lxqt-policykit-agent
#ctrl-alt=t:qterminal
